*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

header {
  background: #fff;
  box-shadow: 0 5px 5px 1px #d7d7d7;
  border-bottom: 1px solid #525252;
  height: 170px;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: -105px;
  z-index: 999;
  
}

h1,
h2,
h3 {
  margin: 0 auto;
  text-align: center;
  width: 760px;
}

h1 {
  padding-top: 25px;
}

h2 {
  font-size: .9em;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: -5px;
}

#date-row {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /*justify-content: space-around;*/
  padding: 15px 0;
  width: 760px;
}

#date-row button {
  color: #1b1e21;
  cursor: pointer;
  color: #383d41;
  background-color: #e2e3e5;
  border: 1px solid #d6d8db;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
}

.date-previous {

}
.date-previous:before {
  content: "\00AB ";
}
#date-row .date-now {
  color: #856404;
  cursor: auto;
  background-color: #fff3cd;
  border-color: #ffeeba;
  margin: 0 10px;
  
}
.date-next {
  
}

.date-next:after {
  content: " \00BB";
}

#container {
  margin: 30px auto;
  width: 760px;
}

.container {
  position: relative;
  z-index: 1  ;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.diary-block {
  
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  /*padding-left: 30px;*/
}

.diary-block.hour-current {
  /*
  box-shadow: 220px 0 #f8d7da, -220px 0 #f8d7da;
  border: 1px solid #f8d7da;
  border-radius: 10px;
  overflow: hidden;
  */
}

.diary-block:first-child {
  border-top: 0;
}

.diary-hour {
  align-items: center;
  border-left: 1px solid #d6d8db;
  border-bottom: 1px solid #d6d8db;
  border-radius: 10px 0 0 10px;
  color: #383d41;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  width: 75px;
}

.diary-hour span {
  
}

.diary-input {
  border: 0;
  color: #383d41;
  background: #e2e3e5;
  border-bottom: 1px solid #d6d8db;
  
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  position: relative;
  resize: none;
  z-index: 0;
}

.diary-input:focus {
  z-index: 1;
  /*
  box-shadow: -500px 0 0 rgba(255, 0, 0, .4), 500px 0 0 rgba(255, 0, 0, .4);
  */
}
/*
.hour-past .diary-input {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
*/

.hour-past[data-lock="true"] .diary-input::after {
  content: "\1F512";
  position: absolute;
  right: 10px;
  top: 10px;
}

.hour-current .diary-input {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.hour-future .diary-input {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;;
}

.diary-save {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  border-top: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  width: 75px;
}

.hour-past .diary-save {
  color: #383d41;
  background: #e2e3e5;
  border-color: #d6d8db;
}
/*
.hour-current .diary-save {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
*/

.diary-block:first-child .diary-hour,
.diary-block:first-child .diary-input {
  border-top: 1px solid#d6d8db;
}

.diary-block:first-child .diary-save {
  border-top: 1px solid #b8daff;
}

.date-previous::after {
  content: attr(data-long);
}

.date-next::before {
  content: attr(data-long);
}

@media(max-width: 760px) {
    header,
    #container,
    h1, h2, h3, #date-row {
      width: 100%;
    }

    .date-previous::before,
    .date-next::after {
      content: "";
    }

    .date-previous::after,
    .date-next::before {
      content: attr(data-short);
    }

    .diary-date,
    .diary-save {
      border-radius: 0;
    }
}